.App {
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.height {
  min-height: calc(100vh - 130px) !important;
}

/* Biblioteca layout antd */
.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}
  [data-theme="dark"] .site-layout-content {
    background: #141414;
  }
  [data-theme="dark"] .logo {
    background: rgba(255,255,255,0.3);
  }


  /* .App {
    color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    text-align: center;
  } */